:root {
    --background-color: #121212;
    --text-color: #ffffff;
    --input-bg: #1e1e1e;
    --border-color: #333;
  }
  /* Apply globally */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .loading-icon {
    width: 3rem;
    height: 3rem;
    animation: spin 2s linear infinite;
    margin-left: 1rem;
    filter: invert(100%) grayscale(100%) contrast(100%);
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}